{% extends "SlackissSocialBundle:layout:layout.html.twig" %}

{% block title %}时间线{% endblock %}

{% block header %}
{{parent()}}
<style>
.timeline-content textarea{
    padding:10px;
    font-size:120%;
    font-weight:bold;
    color:#696969;
    overflow: auto;
    height:46px;
}
</style>
{% endblock %}

{% block content %}

<div class="row">
<div class="col-sm-9">
  <div class="row">
    {{form_start(form)}}
    <div class="col-sm-10 timeline-content">
      {{form_widget(form.content)}}
    </div>
    <div class="col-sm-2">
      <input type="submit" name="submit" value="发布" class="btn btn-lg btn-default" />
    </div>
    {{form_end(form)}}
  </div>
  <div class="timeline media-list">
    {% for entity in entities %}
    <div class="media" style="margin-top:20px;padding:10px 0px;border-bottom:2px dotted #EEEEEE">
      <a class="pull-left" href="#">
        {% if entity.member.memberProfile
              and entity.member.memberProfile.avatar %}
        <img class="thumbnail img-responsive media-object"
             src="{{path('social_member_avatar',{id:entity.member.memberProfile.id})}}"
             alt="{{entity.member.name}}" style="max-width:128px"/>
        {% else %}
        <img class="thumbnail img-responsive media-object" style="max-width:128px"
             src="{{asset('bundles/slackisssocial/images/avatar.png')}}"
             alt="{{entity.member.name}}" />
        {% endif %}
      </a>
      <div class="media-body">
        <h4 class="hide media-heading"></h4>
        {% if entity.picture %}
        <img src="{{path('social_picture_show',{id:entity.picture.id})}}" class="thumbnail img-responsive" />
        {% endif %}
        {{entity.content|default('')|nl2br}}
        <br />
        <small style="color:#696969">{{entity.member.name}}发布于{{time_diff(entity.created)}}</small>
      </div>
    </div>
    {% endfor %}
  </div>
  {{knp_pagination_render(entities)}}
</div>

<div class="col-sm-3">
  {% if app.user and app.user.memberProfile and app.user.memberProfile.avatar %}
  <img class="thumbnail img-responsive"
       src="{{path('social_member_avatar',{id:app.user.memberProfile.id})}}"
       title="{{app.user.name}}"/>
  {% else %}
  <a href="{{path('profile_edit')}}">请上传头像</a>
  {% endif %}

  {% if app.user and app.user.memberProfile and app.user.memberProfile.description %}
  <div class="well">
    {{app.user.memberProfile.description|nl2br}}
  </div>
  {% endif %}


  <div style="margin-top:100px;margin-bottom:20px;">
    {{context.announcement|raw}}
  </div>
</div>

</div>
{% endblock %}
