{% extends "SlackissAVShareBundle:layout:layout.html.twig" %}

{% block title %}查看资源{% endblock %}

{% block content %}
<ol class="breadcrumb clearfix">
  <li><a href="{{path('welcome')}}">主页</a></li>
  <li><a href="{{path('avshare_list')}}">资源列表</a></li>
  <li class="active"><a href="{{path('avshare_show',{id:entity.id})}}">查看资源</a></li>
</ol>


<div class="panel panel-info">
  <div class="panel panel-heading">
    {{entity.title}}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2 col-xs-4">
      <img src="{{vich_uploader_asset(entity,"faceAttach")|imagine_filter('face_image')}}" class="thumbnail img-responsive" />
      </div>
      <div class="col-md-10 col-xs-8">
        {{entity.content|raw}}
      </div>
    </div>
    <hr />
    {% if entity.picture %}
    <img src="{{vich_uploader_asset(entity,"pictureAttach")}}" class="thumbnail img-responsive" />
    {% endif %}
    {% if entity.picture1 %}
    <img src="{{vich_uploader_asset(entity,"picture1Attach")}}" class="thumbnail img-responsive" />
    {% endif %}
    </div>
  </div>
  <div class="panel-footer">
    <div class="clearfix">
      <div class="pull-left">
        {{time_diff(entity.created)}}
      </div>
      <div class="pull-right">
        <a href="{{entity.download}}" target="_blank">
          <button class="btn btn-info">资源</button>
        </a>
        <span class="label label-info">{{ entity.code }}</span>
      </div>
  </div>
</div>

{% endblock %}
