{% extends "SlackissSocialBundle:layout:layout.html.twig" %}

{% block title %}编辑资源:{{entity.title}}{% endblock %}

{% block content %}

<ol class="breadcrumb clearfix">
  <li><a href="{{path('welcome')}}">主页</a></li>
  <li><a href="{{path('social_admin_resource')}}">资源管理</a></li>
  <li class="active"><a href="{{path('social_admin_resource_edit',{id:entity.id})}}">编辑资源</a></li>
  <li class="pull-right">
    <a href="{{ path('social_admin_resource') }}">
      返回
    </a>
  </li>
</ol>

{% form_theme edit_form "SlackissSocialBundle:common:form_theme.html.twig" %}
{{ form(edit_form) }}

<div class="clearfix">
  <div class="pull-right">
    {{ form(delete_form) }}
  </div>
</div>
{% endblock %}
