{% extends "SlackissSocialBundle:layout:layout.html.twig" %}

{% block title %}创建资源{% endblock %}

{% block content %}

<ol class="breadcrumb clearfix">
  <li><a href="{{path('welcome')}}">主页</a></li>
  <li><a href="{{path('social_admin_resource')}}">资源管理</a></li>
  <li class="active"><a href="{{path('social_admin_resource_new')}}">创建资源</a></li>
  <li class="pull-right">
    <a href="{{ path('social_admin_resource') }}">
      返回
    </a>
  </li>
</ol>

{% form_theme form "SlackissSocialBundle:common:form_theme.html.twig" %}
{{ form(form) }}

{% endblock %}
